<!DOCTYPE html>
<html lang="en-us">

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-149845949-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-149845949-1');
</script>

  {% include head.html %}
  <header class="bloghead">
    <div class="authorheader">
      <a href="/">
      <img alt="My Avatar" src="/public/img/profile_s.jpg"/>
      </a>
      <div class="blogtitle">
        <h2>{{ site.author.name }}</h2>
        <h5> {{ site.author.description }} </h5>
      </div>
    </div>

    <nav class="menu" role="nav">
      <ul>

        <li><a href="/">Home</a></li>

        <li>|</li>
        <li><a href="/blog">Blog</a></li>

        <li>|</li>
        <li>
          <a target="_blank" href="{{ site.author.contact.linkedin }}">
            <i class="fa fa-linkedin" aria-hidden="true"></i>
          </a>
        </li>

        <li>|</li>
        <li>
          <a target="_blank" href="{{ site.author.contact.github }}">
            <i class="fa fa-github" aria-hidden="true"></i>
          </a>
        </li>

        <li>|</li>
        <li>
          <a target="_blank" href="{{ site.author.contact.email }}">
            <i class="fa fa-envelope" aria-hidden="true"></i>
          </a>
        </li>

      </ul>
    </nav>
  </header>

  <body>


    <!-- Wrap is the content to shift when toggling the sidebar. We wrap the
         content to avoid any CSS collisions with our real content. -->


      <div class="container content">
        {{ content }}
      </div>

    <script>
      (function(document) {
        var toggle = document.querySelector('.sidebar-toggle');
        var sidebar = document.querySelector('#sidebar');
        var checkbox = document.querySelector('#sidebar-checkbox');

        document.addEventListener('click', function(e) {
          var target = e.target;

          if (target === toggle) {
            checkbox.checked = !checkbox.checked;
            e.preventDefault();
          } else if (checkbox.checked && !sidebar.contains(target)) {
            /* click outside the sidebar when sidebar is open */
            checkbox.checked = false;
          }
        }, false);
      })(document);
    </script>
  </body>
  {% if site.disqus_short_name %}
  <script id="dsq-count-scr" src="//{{ site.disqus_short_name }}.disqus.com/count.js" async></script>
  {% endif %}
</html>
