@include selection {
  background: $theme-color;
  color: $white;
}

html,
body {
  overflow-x: hidden;
  background-color: #e5e5e5;
}

html {
  font-family: $font-serif;
  text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust:100%;
  -ms-text-size-adjust:100%;
  text-rendering:optimizelegibility;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $font-sans;
  font-weight: 400;
  color: $title-color;
  letter-spacing: -.025rem;
}

code {
  color: #666;
}


/* Header */
.bloghead {
  position: relative;
  /*padding: 2rem 1rem;*/
  //font-weight: 200;
  //color: #333;
  text-align: left;;
  /*text-shadow: 0 1px 0 rgba(0,0,0,.1);*/
  max-width: 700px;
  width: 90%;
  margin: 30px auto;
  /*background-color: #6f5499;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#563d7c), to(#6f5499));
  background-image: -webkit-linear-gradient(top, #563d7c 0%, #6f5499 100%);
  background-image:      -o-linear-gradient(top, #563d7c 0%, #6f5499 100%);
  background-image:         linear-gradient(to bottom, #563d7c 0%, #6f5499 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#563d7c', endColorstr='#6F5499', GradientType=0);
  background-repeat: repeat-x;*/
}

.authorheader {
  text-align: left;
}

.blogtitle {
  color: $title-color;
  //font-weight: 400;
  //color: #000;
  padding-top: 0;
  margin-top: 0;
  margin-bottom: 1rem;
  /*font-size: 18px;*/
  //font-family: courier;
  display: inline-block;
}

.blogtitle h1, h2 {
  margin-top: 0;
  padding-top: 0;
}

.bloghead p {
  font-weight: 400;
}

.bloghead img , .authorimage img{
  height: 120px;
  width: 130px;
  border-radius: 50%;
  //padding: 10px;
  //vertical-align: top;
  //margin-right: 10px;
}

nav {
  border-bottom: 1px solid #c6cbd1;
  border-top: 1px solid #c6cbd1;
  margin-bottom: 2em;
  text-align: center;
  max-width: 680px;
  /*margin: 20px auto 2em auto;*/
}

nav ul {
  list-style: none;
  margin: 0 auto;
  padding: 0;
  width: 100%;
  overflow: hidden;
  text-align: center;
}

nav ul li {
  display: inline-block;
  font-family: "Open Sans Condensed", "Open Sans", "Helvetica Neue", Helvetica, Arial, "Nimbus L", sans-serif;
  font-size: 15px;
  font-weight: 300;
  margin: 0;
  padding: 0 .5em;
  text-align: center;
  /*text-transform: uppercase;*/
}

nav ul li a {
  display: block;
  padding: .5em 0;
  //color: #3498db;
}

nav.menu {
  margin-bottom: 2.5em;
}

nav.menu li {
  margin: 0 .5em;
  padding: 0;
}

nav.menu li:last-child {
  margin: 0;
}
